@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-frame {
  -webkit-app-region: drag;
}

.no-text-select {
  -webkit-user-select: none; /* only need webkit because electron runs on chromium */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: fadeIn 1s;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
