@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-frame {
  -webkit-app-region: drag;
}

.no-text-select {
  -webkit-user-select: none; /* only need webkit because electron runs on chromium */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn-animation {
  animation: fadeIn 1s;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror:focus {
  outline: none;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
